<!-- nav section/contains video audio page link settings -->
<section>
    <div class="px-6 py-8 bg-neutral-800">
        <nav class="text-yellow-50 flex flex-row justify-between items-center">
            <!-- video and audio links -->
            <div class="flex flex-row items-center justify-center space-x-6 text-xl">
                <a href="main.html" class="font-semibold">Download Video</a>
                <a href="audio_tags.html" class="font-semibold">Download Audio/Extract Tags</a>
                <a href="about.html" class="font-semibold">About</a>
            </div>
            <!-- settings -->
            <button class="text-xl text-yellow-50 settings-btn"><i class="bi bi-gear"></i></button>
        </nav>
    </div>
</section>