<div class="settings-modal absolute w-full bg-neutral-950 hidden text-yellow-50 top-0 bottom-0 h-screen z-20">
    <div class="flex flex-row justify-between px-6 py-8 bg-neutral-900">
        <h2 class="text-xl font-semibold">ambientTube Settings</h2>
        <button class="settings-close-btn text-xl font-bold"><i class="bi bi-x-lg"></i></button>
    </div>

    <div class="max-w-4xl mx-auto mt-10 my-6 space-y-4">
        <h1 class="text-xl font-semibold">Specify Default Download Path</h1>
        <div class="flex flex-row">
            <label for="specify-path" id="default-path-label"
                   class="w-full bg-neutral-900 px-4 py-4 rounded-l-lg block focus:outline-none default-video-save-loc-input items-center cursor-pointer"><span
                    class="text-neutral-600 cursor-auto">Default download Path</span></label>
            <button id="specify-path" class="bg-neutral-800 rounded-r-lg px-8 py-3 specify-default-loc-btn"><i
                    class="bi bi-file-earmark text-xl"></i></button>
        </div>
    </div>

</div>

<script src="../js/settings.js"></script>





